body{
margin:0;
font-family:Arial;
background:#dae0e6;
}

.layout{
display:flex;
}

.sidebar{
width:200px;
background:#1a1a1b;
color:white;
padding:20px;
height:100vh;
}

main{
flex:1;
padding:20px;
}

.card{
background:white;
padding:15px;
margin-bottom:15px;
border-radius:10px;
}

button{
cursor:pointer;
margin:5px;
}

.like{
color:red;
cursor:pointer;
}

@media(max-width:768px){

.sidebar{
display:none;
}

}